<section>
      <a href="/dashboard" class="is-pulled-right"> &larr; Go Back</a>
  <h2 class="title"> Add My Pet</h2><hr>

  <form class="new-pet-form">
    <div>
      <label for="petname-add">My Pet's Name</label>
      <input id="petname-add" type="text" placeholder="This is my pet's name"/>
    </div>
    <div>
      <label for="petinfo-add">My Pet's Info</label>
      <input id="petinfo-add" type="text" placeholder="This is my pet's info"/>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

<script src="/javascript/add-pet.js"></script>