<div class="container" id="add-pet-container">
  <h2 class="add-pet-title"> Add My Pet</h2>
  <hr class="add-pet-hr">
  <form class="new-pet-form">
    <div>
      <label for="petname-add">My Pet's Name</label>
      <input id="petname-add" type="text" placeholder="This is my pet's name"/>
    </div>
    <div>
      <label for="petinfo-add">My Pet's Info</label>
      <input id="petinfo-add" type="text" placeholder="This is my pet's info"/>
    </div>
    <button type="submit" class="btn">Create Pet</button>
  </form>
</div>

<script src="/javascript/add-pet.js"></script>