<div class="container">
  <h2 class="add-pet-title"> Add My Pet</h2>
  <hr class="add-pet-hr">
  <form class="new-pet-form">
    <div>
      <label for="pet-name" class="pet-name">My Pet's Name</label>
      <input id="pet-name" name="pet-name" placeholder="This is my pet's name"/>
    </div>
    <div>
      <label for="pet-info" class="pet-info">My Pet's Info</label>
      <input id="pet-info" name="pet-info" placeholder="This is my pet's info"/>
    </div>
    <button type="submit" class="btn">Create Pet</button>
  </form>
</div>

<script src="/javascript/add-pet.js"></script>