<section>
      <a href="/dashboard" class="is-pulled-right"> &larr; Go Back</a>
  <h2 class="title"> Add My Pet</h2><hr>

  <form class="new-pet-form">
    <div>
      <label for="petname">My Pet's Name</label>
      <input id="petname" name="petname" placeholder="This is my pet's name"/>
    </div>
    <div>
      <label for="pet_info">My Pet's Info</label>
      <input id="pet_info" name="pet_info" placeholder="This is my pet's info"/>
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

<script src="/javascript/add-pet.js"></script>