<div class="container">
      {{!-- <a href="/dashboard" class="is-pulled-right"> &larr; Go Back</a> --}}
  <h2 class="create-title"> Create New Post</h2>
  <hr class="create-hr">
  <form class="new-post-form">
    <div>
      <label for="post-title" class="post-title">Title</label>
      <input type="text" name="post-title" id="post-title" placeholder="This is my Title"/>
    </div>
    <div>
      <label for="post-content" class="post-content">Content</label>
      <input type="text" name="post-content" id="post-content" placeholder="This is my Contents"/>
    </div>
    <!--div needed to upload photo for post-->
    <button type="submit" class="btn">Create</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>