  {{#if posts.length}}
<section>
  <div class="dash">
        <a href="/dashboard/create/"><button id="create-post" class="button is-primary">Create Post</button></a>
  <h2 class="dash-header">Your Posts</h2>
  </div>
  <ol class="post-list">
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{else}}
<br>
<h4> Create a post to see them here. </h4>
{{/if}}

<script src="/javascript/add-post.js"></script>

<!--DO WE WANT PETS DISPLAYS ON DASH BEYOND POSTS OR WITHIN POSTS?-->