<div class="container">
  <h2 class="login-title">Login:</h2>
  <hr class="login-hr">
  <form class="login-form">
    <div>
      <label for="email-login" class="login-email">Email:</label>
      <input type="text" id="login-email" />
    </div>
    <div>
      <label for="password-login" class="login-password">Password:</label>
      <input type="password" id="login-password" />
    </div>
    <div>
      <button type="submit" id="login-btn">Login</button>
      <a href="/signup"><button type="button">Sign Up</button></a>
    </div>
  </form>
</div>


<script src="/javascript/login.js"></script>