<div class="container">
<h2 class="signup-title">Create an Account:</h2>
<hr class="signup-hr">
<form class="signup-form">
  <div>
    <label for="username-signup" id="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup" id="email-signup">Email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup" id="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit" id="submit-btn">Sign Up</button>
  </div>
</form>
</div>

<script src="/javascript/signup.js"></script>