<div class="container">
<h2 class="signup-title">Create an Account:</h2>
<hr class="signup-hr">
<form class="signup-form">
  <div>
    <label for="username-signup" class="signup-username">Username:</label>
    <input type="text" id="signup-username" />
  </div>
  <div>
    <label for="email-signup" class="signup-email">Email:</label>
    <input type="text" id="signup-email" />
  </div>
  <div>
    <label for="password-signup" class="signup-password">Password:</label>
    <input type="password" id="signup-password" />
  </div>
  <div>
    <button type="submit">Sign Up</button>
  </div>
</form>
</div>

<script src="/javascript/signup.js"></script>